# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/

# Antigravity IDE internal
.antigravity/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories & system files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
thumbs.db
lighthouse-report*.json
